*.sbmi

# archives
*.7z
*.zip

# logs
*.log

# model source
*.fbx
*.blockdef.xml
*.xml
*.hkt
*.hkt.fbx
*.hkt.mwm
*.txt
*.hkt.filter.log
*.hkt.convert.log
*.mwm.log

# temp
*.tmp
*.csproj
/.vs
/obj/Debug
*.user
*.sln
*.mod
/obj/Release
